* { outline: none; }

body { font-family: 'Ubuntu', sans-serif; }

button { border: none; }

header { position: absolute; width: 100%; }

/** Header Start **/

.top-banner { width: 100%; height: 1104px; position: relative; margin-top: 0; z-index: -1; background-size: 100%; }

.top-banner-img { position: absolute; z-index: -1; overflow: hidden; }

.navbar, header .container { padding-left: 0 !important; padding-right: 0 !important; }

.navbar-nav li a { font-size: 20px; color: #FFFFFF !important; margin-left: 25px; margin-right: 25px; font-weight: 700; }

.navbar li:last-child a { margin-right: 0; }

.navbar-toggler-icon { color: #FFFFFF; }

.top-banner-text { text-align: center; font-weight: 700; color: #FFFFFF; font-size: 70px; position: absolute; top: 50%; margin-top: -70px; margin-left: -250px; left: 50%; line-height: 60px; }

.top-banner-text span { margin-top: 0px; color: #FFFFFF; font-weight: 500; font-size: 40px; }

.scroll-img { position: absolute; left: 50%; bottom: 85px; }

.sticky { position: fixed; top: 0; margin-top: 0px !important; width: 100%; background: linear-gradient(89.26359094454074deg, rgba(46, 51, 117,1) 19.477393617021278%,rgba(46, 50, 116,1) 19.477393617021278%,rgba(59, 43, 91,1) 81.55186170212765%); padding-top: 10px; padding-bottom: 10px; box-sizing: border-box; z-index: 9999; }

.scroll-img,
.scroll-img:before { position: absolute; left: 50%; }

.scroll-img { width: 40px; height: 60px; margin-left: -20px; box-shadow: inset 0 0 0 1px #fff; border-radius: 25px; }

.scroll-img:before { content: ''; width: 8px; height: 8px; background: #fff; margin-left: -4px; top: 8px; border-radius: 4px; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-name: scroll; animation-name: scroll; }

    .social-mobile-container{display:none;}

/** Header Finish **/

/** Services Start **/

.services, .works, .references, .contact { padding-top: 80px; padding-bottom: 80px; }

.services h1 { font-weight: 700; color: #303030; font-size: 50px; }

.services h2, .works h2, .references h2, .contact h2 { font-weight: 500; color: #787878; font-size: 30px; display: inline-block; height: 50px; box-shadow: 0 26px 0 -23px #4a4a4a; position: relative; left: 50%; margin-left: -60px; }

.services-list { margin-top: 80px; }

.services-list h3 { font-size: 35px; color: #787878; font-weight: 700; margin-top: 35px; }

.services-list p { color: #5f5f5f; font-size: 20px; font-weight: 300; margin-top: 40px; }

.get-it-touch-button { margin: 0 auto; background-image: url('../../_assets/img/touch-bg.png'); width: 295px; height: 63px; text-align: center; line-height: 64px; font-size: 23px; font-weight: 500; margin-top: 75px; }

.get-it-touch-button a { display: block; width: 100%; height: 100%; color: #ffffff; text-decoration: none; }

.services-image img { max-width: 50% !important; }


/** Services Finish **/

/** Works Start **/

.works h2 { color: #787878; box-shadow: 0 26px 0 -23px #4a4a4a; }

.works { background-color: #ebebeb; }

.works a { position: relative; box-sizing: border-box; }

.works-hover { display: none; float: left; background-color: rgba(98,67,111,0.7); width: 100%; height: 100%; position: absolute; bottom: 0; box-sizing: border-box; }

.works-hover-in { position: absolute; bottom: 0; width: 100%; padding: 50px; box-sizing: border-box; color: #ffffff; font-size: 30px; font-weight: 500; float: left; display: inline-grid; }

.works-hover-in span { color: #ffffff; font-size: 30px; font-weight: 300; clear: left; float: left; }

.modal-content { border: none; position: relative; width: auto !important; }

.modal-header { padding: 0; border: none; overflow: hidden; }

.modal-content .close { position: absolute; top: 20px; right: 20px; }

.modal-body { padding: 30px 50px; }

.modal-body h3 { font-size: 30px; color: #787878; font-weight: 700; }

.modal-body .modal-text { font-size: 20px; font-weight: 300; color: #5f5f5f; margin-top: 30px; border-bottom: 1px solid #ccc4c4; padding-bottom: 30px; text-align: left !important; }

.modal-bottom { margin-top: 30px; }

.modal-social li { margin-right: 1.0rem !important; }

.modal { z-index: 9999; }

.modal-date { font-size: 20px; color: #404040; font-weight: 500; }

.modal-date span { font-weight: 700; }

.carousel-arrow-modal { position: absolute; width: 100%; left: 0; top: 50%; }

/** Works Finish **/

/** References Start **/

.references h4 { font-weight: 700; font-size: 35px; color: #303030; margin-top: 90px; padding-left: 40px; }

.references p { font-weight: 300; font-size: 20px; color: #5f5f5f; padding-left: 40px; }

.references-img::before { background-image: url('../../_assets/img/references-image-bg.png'); background-repeat: no-repeat; width: 60%; height: 60%; margin-left: -30px; margin-bottom: -30px; bottom: 0; content: ' '; position: absolute; z-index: -1; }

.references h2 { margin-left: -77px !important; }

.ref-list { float: left; width: 100%; padding-bottom: 60px; overflow: hidden; }

.ref-list ul { float: left; width: 100%; padding: 0; margin: 0; padding-top: 61px; box-sizing: border-box; text-align: center; }

.ref-list ul li { display: inline-block; list-style: none; margin-right: 100px; }

.carousel-inner { overflow: initial; }

#carouel-references { overflow: hidden; }

.carousel-control-prev-icon { background-image: url(../img/slider-prev-arrow.png); width: 28px; height: 68px; color: #fff; }

.carousel-control-next-icon { background-image: url(../img/slider-next-arrow.png); width: 28px; height: 68px; }

.carousel-control-next, .carousel-control-prev { text-decoration: none; outline: 0; opacity: .9; position: absolute !important; }

.carousel-arrow { position: absolute; width: 100%; left: 0; }

.references .carousel-indicators { display: block !important; text-align: center; position: relative; text-align: center; margin-bottom: 0; margin-top: 70px; margin-left: 0; margin-right: 0; display: inline-block !important; text-align: center; width: 100%; }

.references .carousel-indicators li { background-color: rgba(98,67,111,1.0); display: inline-block; width: 20px; height: 20px; margin: 1px; text-indent: -999px; cursor: pointer; border: 1px solid #fff; border-radius: 10px; }

.references .carousel-indicators li.active { background-color: rgba(98,67,111,0.4); }


/** References Finish **/

/** Contact Start **/

.contact { background-color: #000000; padding-bottom: 97px !important; padding-top: 145px !important; }

.contact h2 { color: #FFFFFF; }

.contact input { color: #ffffff; font-size: 14px; border: none; border-bottom: 2px solid #ffffff; padding: 20px; background: none; border-radius: 0 !important; }

.contact input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #b2b2b2; }

.contact input::-moz-placeholder { /* Firefox 19+ */ color: #b2b2b2; }

.contact input:-ms-input-placeholder { /* IE 10+ */ color: #b2b2b2; }

.contact input:-moz-placeholder { /* Firefox 18- */ color: #b2b2b2; }

.form-submit { background-color: #202020; color: #FFFFFF; height: 60px; border-radius: 0; box-sizing: border-box; width: 100%; }

.form-send-message { display: none; padding-top: 70px; }

.contact input:focus { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: none; -moz-transition: none; -webkit-transition: none; background: none; color: #FFFFFF; outline: none; }

/** Contact Finish **/

/** Footer Start **/

footer { width: 100%; height: 200px; background: linear-gradient(89.26359094454074deg, rgba(46, 51, 117,1) 19.477393617021278%,rgba(46, 50, 116,1) 19.477393617021278%,rgba(59, 43, 91,1) 81.55186170212765%); overflow: hidden; padding-top: 80px; box-sizing: border-box; }

footer ul li { margin-left: 25px; margin-right: 0px !important; }

.f-text, .f-text-three { font-size: 17px; color: #FFFFFF; font-weight: 700; line-height: 21px; box-sizing: border-box; margin-top: -20px; }

.f-text-three { margin-top: -20px; }

.footer-contact-icon { width: 30px; text-align: center; padding-right: 50px; }

.footer-contact-text a { color: #FFFFFF; }

.footer-contact.mt-4 { margin-top: 1.0rem !important; }

.copyright-text { width: 100%; text-align: right; font-weight: 300; color: #ffffff; font-size: 12px; padding-right: 20px; font-weight: 300; }

.social-mobile { display: none; }

/** Footer Finish **/

/*******  Owl Carousel Start *********************/

.owl-nav { display: none; }

.owl-carousel.owl-drag .owl-item { text-align: center; }

.owl-carousel, .owl-carousel .owl-item { -webkit-tap-highlight-color: transparent; position: relative; }

.owl-carousel { display: none; width: 100%; z-index: 1; }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); }

.owl-carousel .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded { display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.owl-carousel.owl-loading { opacity: 0; display: block; }

.owl-carousel.owl-hidden { opacity: 0; }

.owl-carousel.owl-refresh .owl-item { visibility: hidden; }

.owl-carousel.owl-drag .owl-item { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.owl-carousel.owl-grab { cursor: move; cursor: grab; }

.owl-carousel.owl-rtl { direction: rtl; }

.owl-carousel.owl-rtl .owl-item { float: right; }

.owl-carousel .animated { animation-duration: 1s; animation-fill-mode: both; }

.owl-carousel .fadeOut { animation-name: fadeOut; }

.owl-carousel-modal { width: 100%; overflow: hidden; }

.owl-carousel-modal .owl-item { width: 100%; }

.owl-carousel-modal.owl-drag .owl-item { text-align: center; }

.owl-carousel-modal, .owl-carousel-modal .owl-item { -webkit-tap-highlight-color: transparent; position: relative; }

.owl-carousel { display: none; width: 100%; z-index: 1; }

.owl-carousel-modal .owl-item, .owl-carousel-modal .owl-wrapper { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); }

.owl-carousel-modal .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none; }

.no-js .owl-carousel-modal, .owl-carousel-modal.owl-loaded { display: block; }

.owl-carousel-modal .owl-dot, .owl-carousel-modal .owl-nav .owl-next, .owl-carousel-modal .owl-nav .owl-prev { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.owl-carousel-modal.owl-loading { opacity: 0; display: block; }

.owl-carousel-modal.owl-hidden { opacity: 0; }

.owl-carousel-modal.owl-refresh .owl-item { visibility: hidden; }

.owl-carousel-modal.owl-drag .owl-item { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.owl-carousel-modal.owl-grab { cursor: move; cursor: grab; }

.owl-carousel-modal.owl-rtl { direction: rtl; }

.owl-carousel-modal.owl-rtl .owl-item { float: right; }

.owl-carousel-modal .animated { animation-duration: 1s; animation-fill-mode: both; }

.owl-carousel-modal .fadeOut { animation-name: fadeOut; }
.carousel-indicators { display: none; }

/*******  Owl Carousel Finish *********************/

.vimeo iframe, .vimeo object, .vimeo embed { padding-left: 0; padding-right: 0; border: none; padding: 0; margin: 0; }

@-webkit-keyframes scroll {
    0% { opacity: 1; }

    100% { opacity: 0; -webkit-transform: translateY(46px); transform: translateY(46px); }
}

@keyframes scroll {
    0% { opacity: 1; }

    100% { opacity: 0; -webkit-transform: translateY(46px); transform: translateY(46px); }
}

@media (min-width:1201px) {
    .mt-6 { margin-top: 47px; }

    header.mt-6 { margin-top: 3rem; }

    .services-image { min-height: 150px; }

    .social li img { width: 100%; }

    .modal-dialog { max-width: 997px; }
}


@media (max-width:1280px) {

    .carousel-control-next, .carousel-control-prev { width: 6% !important; }

    .top-banner-text { font-size: 50px; margin-left: -190px; }

    .scroll-img { bottom: 80px; }

    .scroll-img img { width: 70%; }

    .top-banner-img { width: 100%; overflow: hidden; }

    .top-banner-img img { max-width: initial; }

    .modal-dialog { max-width: 600px; }

    .modal-body .modal-text { font-size: 17px; }

    .modal-bottom li img { width: 80%; }

    .modal-date { font-size: 17px; }
}

@media (max-width:1201px) {
    .col-fix { padding-right: 25px !important; padding-left: 20px !important; }

    .mt-6 { margin-top: 3rem; }

    footer { height: auto; line-height: 105px; padding-top: 40px; }

    .top-banner { background-size: auto !important; }

    .refences h4 { margin-top: 60px !important; }

    .contact input { width: 100% !important; }

    .carousel-indicators { display: block; text-align: center; position: relative; text-align: center; margin-bottom: 0; margin-top: 70px; margin-left: 0; margin-right: 0; display: inline-block; text-align: center; width: 100%; }

    .carousel-indicators li { background-color: rgba(98,67,111,1.0); display: inline-block; width: 20px; height: 20px; margin: 1px; text-indent: -999px; cursor: pointer; border: 1px solid #fff; border-radius: 10px; }

    .carousel-indicators li.active { background-color: rgba(98,67,111,0.4); }

    .f-text { margin-top: 16px; line-height: 29px; }

    .f-text-three { margin-top: 40px; }

    .f-text div { text-align: center !important; }

    .social { margin: 0; }

    .copyright-text { text-align: center; margin: 0; padding: 0; line-height: 0; height: 43px; }
}

@media (max-width:991px) {
    .navbar { position: relative; }

    .navbar-collapse { position: absolute; top: 70px; background-color: #202020; width: 100%; left: 0px; box-sizing: border-box; padding: 0px 20px 15px 20px; }

    .navbar-collapse > ul { margin: 22px !important; }

    .nav-item { border-bottom: 2px solid #ffffff; padding-bottom: 15px; padding-top: 15px; }

    .navbar-nav li:first-child { padding-top: 0; }

    .top-banner-text { margin-left: -249px; font-size: 65px; }

    .services-list h3, .references h4 { font-size: 2.2rem; }

    .references h4 { text-align: center; }

    .services-list p, .references p, .modal-body .modal-text { font-size: 1.0rem; text-align: center; letter-spacing: 1px; }

    .references h4, .references p { padding-left: 0; }

    .navbar, header .container { padding-right: 15px !important; padding-left: 15px !important; }

    .top-banner-img { width: 100%; overflow: hidden; }

    .top-banner-img img { max-width: initial; }

    #navbar { margin-top: 2rem; }

    .works a { max-height: 433px; overflow: hidden; }

    .form-button { float: left; width: 100%; }

    .navbar-nav li a { margin-left: 0; }

    .services { overflow: hidden; }

    .social, .copyright-text { margin-top: 20px; }

    footer { padding-bottom: 20px; }
    .modal-social li { margin-right: 0.4rem !important; }
    footer ul li { margin-left: 13px; }
    .works-hover { display: none !important; }
    .social-mobile { display: block; margin-left: 0 !important; margin-top: 30px; float: left; }
    .social-mobile li { margin-right: 0.7rem !important; margin-left: 0.7rem !important; }
    .social-mobile-container{display:block;}
}

@media (max-width:768px) {
    .carousel-arrow { display: none; }
}


@media (max-width:580px) {
    .col-fix { padding-right: 15px !important; padding-left: 15px !important; }

    .top-banner-text { line-height: 66px; margin-top: -100px; left: auto; width: 100%; margin-left: 0; font-size: 3.1rem; }

    .top-banner-text span { margin-top: -7px; display: inline-block; font-size: 1.6rem; float: left; width: 100%; text-align: center; }

    .references h4 { margin-top: 80px; }

    .list-inline-item:not(:last-child) { margin-right: -0.5rem; }

    .services h1 { font-size: 3.1rem; }

    .services-list p { font-size: 1.0rem; text-align: center; }

    .services-list h3, .services h2, .works h2, .references h2, .contact h2 { padding: 0 !important; }

    .references p { font-size: 1.0rem; margin-top: 30px; }

    .modal-body .modal-text { font-size: 1.0rem; }

    .works-hover { width: 92%; }

    .get-it-touch-button { background-size: 100%; background-repeat: no-repeat; }

    .works h2 { margin-left: -43px; }

    footer ul li { margin-left: 10px; margin-right: 10px !important; }

    footer { line-height: 80px; }

    footer ul li img { max-width: 25px; }

    .works a { max-height: 320px; }
}

@media (max-width:325px) {
    .top-banner-text { line-height: 51px; margin-top: -60px; font-size: 2.7rem; }

    .scroll-img { bottom: 40px; }

    .top-banner-text span { margin-top: 10px; font-size: 30px; }

    .works-hover { width: 90%; }
}
